* {
    padding: 0;
    margin: 0;
}

body {
    background: transparent url('./images/sea-theme.jpg') repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.header{
    font-size: 60px;
    color: black;
    text-shadow: 5px 5px 10px yellow;
    font-weight: bold;
}

.container {
    box-sizing: content-box;
    position: absolute;
    border-radius: 10px;
    padding: 30px;
}

.levels {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.status {
    margin-bottom: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.status span {
    font-weight: bold;
}

.cards-container {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 10px;
    background-color: white;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.card-up,
.card-down {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
}

.card-up:hover {
    box-shadow: 0 0 15px rgba(255, 255, 0, 0.8);
}

.card-down {
    transform: rotateY(180deg);
}

.card.flipped .card-up {
    transform: rotateY(180deg);
}

.card.flipped .card-down {
    transform: rotateY(0deg);
}

.initial-container {
    display: grid;
    grid-template-rows: 10% 10% 50%;
    gap: 20px;
    overflow: hidden;
    text-align: center;
}

button {
    border: none;
    border-radius: 5px;
    padding: 20px 30px;
    cursor: pointer;
    background-color: black;
    color: white;
    font-size: 20px;
}

button:hover {
    background-color: white;
    color: black;
}

#stop {
    display: block;
    margin: 20px auto 0 auto;
}

.hide {
    display: none;
}

#result {
    width: 100vw;
    height: 70vh;
    text-align: center;
    box-sizing: content-box;
    display: grid;
    grid-template-rows: 50% 15% 15%;
    text-shadow: 5px 5px 10px white;
}

#result img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#result h2 {
    font-size: 50px;
}

#result h4 {
    font-size: 40px;
    margin: 0px auto;
}